/* Activează tema dark */
@import "minimal-mistakes/skins/dark" ;

/* Stil portocaliu */
a, a:hover {
  color: #ff7b00 !important;
}

h1, h2, h3 {
  color: #ff7b00 !important;
}

.page__title {
  color: #ff7b00 !important;
}
